/* Tables */

/* Border */
table.doxtable td, table.doxtable th {
	border: 1px solid #a1a1a1 !important;
}

/* Header */
table.doxtable th {
	background-color: #a1a1a1 !important;
	color: #000;
}

/* Striped rows format */
table.doxtable>tbody>tr:nth-child(odd)>td, 
table.doxtable>tbody>tr:nth-child(odd)>th {
   background-color: #dedede !important;
 }